// Bootstrap overrides

// Container
.container-fluid {
	padding-right: 0;
	padding-left: 0;
}

.navbar {
	margin-bottom: 0px;
}

.header {
	margin-bottom: 0px;
}

.container {
	padding: 0 !important;
	display: inline-block;
	position: relative;
}

.jumbotron-transparent {
	position: relative;
  	display: inline-block;
  	background-color: transparent;
  	border: none;
  	border-radius: 0;
}

.row {
  margin-right: 0px; 
  margin-left: 0px; 
}