<!-- HOME -->
<div class="row" id="home">
	<div class="col-md-12 main-img">
		<div class='container-fluid set-heigh'>
			<div class="main-img-size"></div>
			<div class="jumbotron jumbotron-transparent">
	  			<h1 class='text-center'>I solve digital problems</h1>
	  			<h2 class='text-center'>My name is Veronique Pelletier and I am a developper based in Montreal, Canada. I have more than 10 years in front-end/UI developpment, project leadership, back-end and CMS.</h2>
	  		</div>
	  	</div>
	</div>
</div>
<!-- ABOUT -->
<div class="row" id="about">
	<div class="col-md-12 glyph-center">
		<div class='container-fluid'>
			<div class="jumbotron jumbotron-transparent">
 				<h1 class='text-center'>MY STORY</h1>

				<h2 class='text-center'>My name is Veronique Pelletier and I’m a digital developer who specialises in front-end web development.

				I have worked with a variety of different companies, from small to the big national brands. However, size and budget are not deciding factors when I choose my clients; passion and enthusiasm is. Through this, I deliver the same passion and results back into your project. This keeps both me and (most importantly) my client happy.</h2>

				<h3 class='text-center'>Below are the great projects I worked on</h3>
				<span class="glyphicon glyphicon glyphicon-menu-down text-center" aria-hidden="true"></span>
			</div>
		</div>
	</div>
</div>
<!-- WORK -->
<div class="row" id="work">
	<div class="col-md-6 nopadding">
		<div class='work-col work-bell'>
			Bell Remote
		</div>
	</div>
	<div class="col-md-6 nopadding">
		<div class='work-col work-purple'>
			Purple
		</div>
	</div>

	<div class="col-md-6 nopadding">
		<div class='work-col work-videotron'>
			Videotron
		</div>
	</div>
	<div class="col-md-6 nopadding">
		<div class='work-col work-annie'>
			Annie Brocolie
		</div>
	</div>
</div>
<!-- CONTACT -->
<div class="row" id="contact">
	<div class="col-md-12">Contact</div>
</div>
